extends layout 
 
block content 
  .page-header 
    h3 All submitted jobs

  -var ob = JSON.parse(resultData)
  div
    table
      tbody
        for object in ob
          for object2 in object.taskResultsBeans
            tr
              td= object.jobName
              td= object2.scheduleStatus
              td
                a(href='/job/'+object.jobName) Resubmit
              for object3 in object2.imageUrls
                td= object3